{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "",
    "^(next/(.*)$)|^(next$)",
    "",
    "lucide-react",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "",
    "^@/constants$",
    "",
    "^@/env(.*)$",
    "^@/types/(.*)$",
    "^@/db$",
    "^@/db/(.*)$",
    "^@/trpc/(.*)$",
    "^@/lib/(.*)$",
    "^@/config/(.*)$",
    "^@/actions/(.*)$",
    "^@/hooks/(.*)$",
    "^@/schemas/(.*)$",
    "",
    "^@/providers/(.*)$",
    "",
    "^@/modules/(.*)$",
    "",
    "^@/components/(.*)$",
    "^@/components/ui/(.*)$",
    "",
    "^@/app/(.*)$",
    "",
    "^[./]",
    "",
    "^@/styles/(.*)$"
  ]
}
